  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @font-face {
      font-family: "Frank Ruhl Libre";
      src: url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
    }
@font-face {
  font-family: "Inter";
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}
h1 { font-family: "Frank Ruhl Libre";}
p { font-family: "Frank Ruhl Libre";}
a { font-family: "Frank Ruhl Libre";}
a { font-family: "Frank Ruhl Libre";}
*{
cursor: none !important;
}
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fafa;
}
.sideBar {
  box-shadow: -2px 0px 2px 0px rgb(0 0 0 / 33%);
}

